<form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" type="text" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone:true}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="newUser.password" [ngModelOptions]="{standalone:true}" type="password" matInput placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createUser(newUser)" type="submit">Primary</button>
  </form>

</form>


