<div *ngIf="!authService.isAdmin()" class="container-fluid" >
    <div class="row mt-2">
      <div class="col-sm "*ngFor="let product of allProducts">
        <div class="card mt-4 " style="width: 18rem;" (click)="passToDetailPage(product.id)">
          <img style="height: 18rem; width: auto" class="card-img-top" src="{{product.imageUrl.at(0)}}" alt="Card image cap">
          <div class="card-body align-items-center">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <h3 class="card-title">{{product.price}}</h3>
            <a href="#" class="btn btn-primary me-auto"><h3>Add to cart <i class="bi bi-bag-plus-fill"></i></h3></a>
          </div>
        </div>
      </div>
    </div>
</div>
<div *ngIf="authService.isAdmin()" class="container-fluid mt-4">
  <div class="col-xl-8 col-md-8 col-sm-8">
    <mat-table [dataSource]="allProducts!" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-divider></mat-divider>
  </div>
  <section>
    <div class="button-row mt-2">
      <button mat-raised-button color="warn" (click)="deleteSelected()">Delete Selected</button>
      <button mat-raised-button color="primary" routerLink="/add-product">Add product</button>
    </div>
  </section>
</div>



