<form>
  <h1 mat-dialog-title>Modify {{data.product.id}}</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Product name</mat-label>
        <input matInput [(ngModel)]="data.product.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Product description</mat-label>
        <input matInput [(ngModel)]="data.product.description" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Product price</mat-label>
        <input matInput [(ngModel)]="data.product.price" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label *ngIf="productCat">{{productCat.name}}</mat-label>
        <mat-label *ngIf="!productCat">Select category</mat-label>
        <mat-select [(value)]="idCat" (selectionChange)="categoryChanged(idCat)">
          <mat-option *ngFor="let category of data.allCategories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <img style="width: 300px" src="{{data.product.imageUrl}}">
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onOkClick()" [mat-dialog-close]="data.product.name" cdkFocusInitial>Ok</button>
  </div>
</form>
